# Rstudio files
.Rproj.user
.Rproj
.Rhistory
.RData
.DS_Store
.Rprofile

# Local directories
temporary/
inst/models

# Built vignettes
vignettes/*.html
vignettes/*.R
.github/*.html

#OSX directories
__MACOSX/
